::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #0000;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff08;

  &:hover {
    background-color: #ffffff0b;
  }
}

::selection {
  background-color: $accent;
}

br {
  user-select: none;
}

main.athkar {
  background: url("/assets/flowers.jpg") no-repeat center center/cover;
}

.athkar {
  &.panel {
    background-color: #000000f5;
    color: #fff;
    overflow: hidden;
    width: 60%;
    box-shadow: 50px 0 100px 70px #000000f5;
  }
}

.counter {
  position: absolute;
  background-color: #edb;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  border-radius: 50%;
  color: $accent;
  top: calc((65px - 55px) / 2);
  left: calc((65px - 55px) / 2);
  padding: 10px;
  padding-top: 15px;
  border: 3px solid #ccb293;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

.counter-progress {
  position: relative;
  font-family: "Amiri", serif;
  background: conic-gradient($accent 0deg, #fff 0deg);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  z-index: 1;
}

.athkar-view {
  display: flex;
  position: relative;
  align-items: center;

  .beacon {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 200px;
    border-bottom: 1px solid #fff2;
    animation: beacon infinite 1s;

    @keyframes beacon {
      0% {
        border-bottom-color: #fff2;
      }

      50% {
        border-bottom-color: #fff7;
      }

      100% {
        border-bottom-color: #fff2;
      }
    }
  }

  .counter-progress {
    margin-right: 20px;
    min-width: 65px;
  }

  .athkar-body {
    direction: rtl;
    border-left: 1px solid #fff6;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: "Amiri", serif;
    font-size: 2rem;
    max-width: 80%;
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
  }
}
