.modal {
  background-color: $accent;
  color: #fff;
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 1;
  top: 25%;
  left: 25%;
  box-shadow: 0 0 50px 10px #000;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
