@media (max-width: 1150px) {
  .about .wrapper {
    grid-template-columns: 1fr;

    div {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .about {
    padding: 30px;

    .title {
      h1 {
        font-size: 5rem !important;
      }
    }

    .subtitle {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  main .panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      width: 50%;
    }
  }

  .modal {
    left: 15%;
    width: 70%;
  }

  .about {
    padding: 20px;

    .title {
      h1 {
        font-size: 2.5rem !important;
      }

      p {
        display: none;
      }
    }

    .subtitle {
      display: none;
    }

    .copy {
      font-size: 0.8rem;
    }

    .wrapper {
      div {
        padding: 10px;
        padding-bottom: 20px;

        h2 {
          font-size: 1rem;
          margin-bottom: 5px;
        }

        p {
          font-size: 0.8rem;
        }
      }

      margin: 20px 50px;
    }
  }
}

@media (max-width: 600px) {
  main .panel .btn {
    width: 100%;
  }

  .menu {
    display: block;
  }

  .fa-gear {
    display: none;
  }

  .fa-bars {
    display: inline-block;
    margin-left: 10px;
  }

  .nav-item-lg {
    display: none;
  }

  .modal {
    background-color: darken($accent, 10);
    top: 9%;
    left: 0;
    width: 100%;
    height: 91%;
    border-radius: 0;
    box-shadow: none;
  }
}

@media (max-width: 485px) {
  .menu {
    width: 75%;
  }

  main .panel {
    .title {
      h1 {
        font-size: 5rem;
      }

      p {
        font-size: 0.9rem;
      }
    }

    p {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 340px) {
  .about .wrapper {
    margin-left: 0;
    margin-right: 0;
  }

  main .panel .title {
    h1 {
      font-size: 3rem !important;
    }

    p {
      font-size: 0.8rem;
    }
  }
}
